{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h3 style="text-align : center">영화 관리 시스템</h3>
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-light">
            <th >장르</th>
            <th style="width:30%">영화제목</th>
            <th>작성자</th>
            <th>개봉일</th>
            <th>러닝타임</th>
            <th>판매가격</th>
            <th>포스터</th>
        </tr>
        </thead>
        <tbody>
        {% if product_list %}
        {% for product in product_list %}
        <tr class="text-center" >
            <td>{{ product.type }}</td>
            <td><a href="{% url 'sales:detail' product.id %}">{{ product.pname }}</a></td>
            <td>{{ product.author.username }}</td>
            <td>{{ product.releasedate }}</td>
            <td>{{ product.runningtime }}분</td>
            <td>{{ product.pprice }}원</td>
            <td class="text-truncate" style="max-width : 100px;">
                {% if product.imgfile != '' and product.imgfile != null %}
                <span class="badge badge-secondary py-1">
                    O
                </span>
                {% else %}
                <span class="badge badge-secondary py-1">
                    X
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 영화가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
<!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in product_list.paginator.page_range %}
        {% if page_number >= product_list.number|add:-5 and page_number <= product_list.number|add:5 %}
            {% if page_number == product_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if product_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'sales:product_create' %}" class="btn btn-primary">
        영화 등록
    </a>
</div>
<form id="searchForm" method="get" action="{% url 'sales:index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

        $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}