{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h3 class="border-bottom py-2" style="background-color: #e5e2f4; text-align : center;">영화 제목 : {{ product.pname}}</h3>
    <div class="card my-3">
        <div class="card-body">
            <div aria-colspan="2">
                {% if product.imgfile != '' and product.imgfile != null %}
                <img src="{{ product.imgfile.url }}" style="max-width:400px">
                {% endif %}
            </div>
            <div class="card-text" style="white-space: pre-line;">장르 : {{ product.type}}</div>
            <div class="card-text" style="white-space: pre-line;">영화 제목 : {{ product.pname}}</div>
            <div class="card=text" style="white-space:pre-line">작성자 : {{ product.author.username }}</div>
            <div class="card-text" style="white-space: pre-line;">개봉일 : {{ product.releasedate }}</div>
            <div class="card-text" style="white-space: pre-line;">러닝 타임 : {{ product.runningtime}}분</div>
            <div class="card-text" style="white-space: pre-line;">구매 가격 : {{ product.pprice}}원</div>
            {% if request.user == product.author %}
            <div class="my-3">
                <a href="{% url 'sales:product_modify' product.id %}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{% url 'sales:product_delete' product.id %}">삭제</a>
            </div>
            {% endif %}
            </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}

